@using UrunFatura.Models.Entity
@model UrunFatura.Models.Entity.tbl_Fatura
@{
    ViewBag.Title = "FaturaNoEkle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <a href="/FaturaBilgi/FaturaBilgiEkle/" class="btn btn-info">Devam</a>
    </div>
</form>
