@model UrunFatura.Models.Entity.tbl_Musteri
@{
    ViewBag.Title = "FaturaEkle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
    <form class="form-group" method="post">
        <div>
            <label>Musteri Id:</label>
            @Html.DropDownListFor(m => m.MusteriId, (List<SelectListItem>)ViewBag.dgr, new { @class="form-control"})
        </div>
        <div>
            <label>Fatura No:</label>
            <input type="text" name="FaturaNo" />
        </div>
        <div>
            <button class="btn btn-info">Fatura Ekle</button>
        </div>
    </form>
