@using UrunFatura.Models.Entity
@model List<tbl_Fatura>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table">
    <tr>
        <th>Fatura No</th>
        <th>Musteri No</th>
        <th>Fatura Tutar</th>
    </tr>
    <tbody>
        @foreach (var ftr in Model)
        {
            <tr>
                <th>@ftr.FaturaNo</th>
                <th>@ftr.MusteriNo</th>
                <th>@ftr.FaturaTutar</th>
            </tr>
        }
    </tbody>
</table>
<a href="/Fatura/FaturaEkle/" class="btn btn-primary">Fatura Ekle</a>
<a href="/FaturaBilgi/FaturaBilgiEkle/" class="btn btn-primary">Fatura Bilgi Ekle</a>    


