@using UrunFatura.Models.Entity
@model List<tbl_Fatura>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table">
    <tr>
        <th>Fatura Id</th>
        <th>Fatura No</th>
        <th>Musteri Adı</th>
        <th>Fatura Tutar</th>
        <th></th>
    </tr>
    <tbody>
        @foreach (var ftr in Model)
        {
            <tr>
                <th>@ftr.FaturaId</th>
                <th>@ftr.FaturaNo</th>
                <th>@ftr.tbl_Musteri.MusteriAdi</th>
                <th>@ftr.FaturaTutar</th>
                <th><a href="/Fatura/FaturaGoruntule/@ftr.FaturaNo" class="btn btn-info">GÖRÜNTÜLE</a></th>
            </tr>
        }
    </tbody>
</table>
<a href="/Fatura/FaturaEkle/" class="btn btn-primary">Fatura Ekle</a>